body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 10% auto  20% repeat(3, 10%);
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.logo {
    height: 100%;
    background: url("/img/logo.png") center no-repeat;
    background-size: 70%;
    grid-column: 1/2;
}

.login, .register, .cart_logo, .error {
    display: flex;
    align-items: center;
    justify-content: center;
}

header input[type="submit"] {
    background-color: black;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.75);        
}

.login p {
    width: 80px;
    height: 40px;
}

.error {
    grid-column: 3/4;
}

.login {
    grid-column: 4/5;
}

.register {
    grid-column: 5/6;
}

.cart_logo {
    grid-column: 6/7;
    text-decoration: none;
    color: black;
}

.cart_logo span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_logo .material-icons {
    font-size: 36px;
}

.cart {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    width: 100%;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form input {
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid black;
}

.form form input[type="submit"] {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}

.shop {
    width: 100%;
    min-height: calc(100vh - 100px);
}

.articles {
    display: grid;
    margin: 4vw 4vw 0 4vw;
    grid-template-columns: repeat(4, calc(25% - 3vw));
    grid-template-rows: repeat(3, 250px);
    grid-gap: 4vw 4vw;
    justify-items: center;
    grid-auto-flow: row; 
}

.article {
    width: 100%;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.75);
}

.article div:first-child {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.article div h3 {
    height: 50%;
    text-align: center;
}

.article div:first-child p, .article div h3 {
    margin-left: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
}

.buttons p {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article form {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.article form:last-of-type {
    justify-content: flex-end;
}

.article input[type="hidden"] {
    display: none;
}

.article input[type="image"] {
    margin: 10px;
    cursor: pointer;   
}
