body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 10% auto repeat(4, 10%);
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.logo {
    height: 100%;
    background: url("/img/logo.png") center no-repeat;
    background-size: 70%;
    grid-column: 1/2;
}

.login, .register, .cart, .error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login input[type="submit"], .register input[type="submit"] {
    background-color: black;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
}

.login p {
    width: 80px;
    height: 40px;
}

.error {
    grid-column: 3/4;
}

.login {
    grid-column: 4/5;
}

.register {
    grid-column: 5/6;
}

.cart_logo {
    grid-column: 6/7;
}

.cart_logo .material-icons {
    font-size: 36px;
}

.cart {
    display: flex;
    flex-direction: column;
    background-color: pink;
}

main {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    width: 100%;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form input {
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid black;
}

.form form input[type="submit"] {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    width: 50%;
}

.shopLeft {
    width: 20%;
    min-height: calc(100vh - 100px);
    border: 2px solid black;
}

.shopLeft .category {
    height: 50px;
    border-top: 1px solid black;
}

.shopRight {
    width: 80%;
    min-height: calc(100vh - 100px);
    border: 2px solid black;
}

.sortBar {
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

.articles {
    display: grid;
    margin: 4vw 4vw 0 4vw;
    grid-template-columns: repeat(4, calc(25% - 3vw));
    grid-template-rows: repeat(3, 200px);
    grid-gap: 4vw 4vw;
    justify-items: center;
    grid-auto-flow: row; 
}

.article {
    width: 100%;
    border: black solid 2px;
}